node_modules
client/node_modules
client/dist
server/node_modules
server/logs
server/uploads/templates/*
server/uploads/fonts/*
server/uploads/signatures/*
server/uploads/data/*
server/uploads/certificates/*
.git
.gitignore
*.md
.env
.env.local
.env.production
coverage
.vscode
.idea
